<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

    <form action="/signup">
        <h2>Login</h2>
        <label for="email">Email</label>
        <input type="text" name="email" required />
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button>login</button>
    </form>

  <%- include("../partials/footer.ejs") %>

  <script>
    // Select the form tag
    const form = document.querySelector('form');
    //Select errors input field classes
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        //reset errors
        emailError.textContent = "";
        passwordError.textContent = "";
        // get values
        const email = form.email.value;
        const password = form.password.value;
        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            //wait for data to come 
            const data = await res.json();
            console.log("data: ", data);
            //If there are any errors
            if(data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            //If user signup successful then redirect to homepage
            if(data.user) {
                location.assign('/');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
  </script>

</body>
</html>