<nav>
    <div class="site-title">
        <a href="/">
            <h1>My Diary</h1>
        </a>
        <p>Everything about my daily lifestyle</p>
    </div>
    <ul>
        <% if (user) { %>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/blogs/create">Add New Blog</a></li>
            <li><a href="/logout">Log out</a></li>
          <% } else { %>
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup" class="btn">Sign up</a></li>
          <% } %>
    </ul>
</nav>
