<nav>
    <div class="site-title">
        <a href="/">
            <h1>My Diary</h1>
        </a>
        <p>Everything about my daily lifestyle</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="/blogs/create">Add New Blog</a></li>
    </ul>
</nav>