<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <p>Homepage</p>
    <p>User is not logged in</p>
    <p>So homepage is showing instead of blog list</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>